.popper-reference {
	border: 1px solid rgba(0, 0, 0, 0.1);
	// border-radius: 0;

	cursor: pointer;

	font-size: 16px;
	padding: 5px 10px;

	background-color: white;

	outline: none !important;

	&:hover {
		background-color: rgba(0, 0, 0, 0.05);
	}

	&:active {
		background-color: rgba(0, 0, 0, 0.1);
	}
}

.popper {
	background-color: white !important;
	box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 5px 0px !important;
	border: 1px solid rgba(0, 0, 0, 0.1) !important;
	border-radius: 5px !important;
	padding: 0 !important;

	// min-width: 150px;
	// min-height: 50px;
}

// .popper[x-placement^='bottom'] {
//     margin-top: 0 !important;
// }

.fade-enter-active {
	transition: opacity 0.1s;
}

.fade-enter {
	opacity: 0;
}

.fade-enter-to {
	opacity: 1;
}

// Hollow dots
.hollow-dots-spinner,
.hollow-dots-spinner * {
	box-sizing: border-box;
}

.hollow-dots-spinner {
	height: 15px;
	width: calc(30px * 3);
}

.hollow-dots-spinner .dot {
	width: 15px;
	height: 15px;
	margin: 0 calc(15px / 2);
	border: calc(15px / 5) solid #ff1d5e;
	border-radius: 50%;
	float: left;
	transform: scale(0);
	animation: hollow-dots-spinner-animation 1000ms ease infinite 0ms;
}

.hollow-dots-spinner .dot:nth-child(1) {
	animation-delay: calc(300ms * 1);
}

.hollow-dots-spinner .dot:nth-child(2) {
	animation-delay: calc(300ms * 2);
}

.hollow-dots-spinner .dot:nth-child(3) {
	animation-delay: calc(300ms * 3);
}

@keyframes hollow-dots-spinner-animation {
	50% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
