$primary-color: #2b579a;

html,
body {
	padding: 0;
	margin: 0;

	color: #333;
	background-color: #fff;

	font-family: 'Roboto', 'Open Sans', sans-serif;
	font-size: 1.06em;
}

html,
body,
#app {
	height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 300;
}

// Utils
.cursor-pointer {
	cursor: pointer;
}

.no-select {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.badge-primary {
	background-color: $primary-color;
}

// Imports

@import 'main_layout';
@import 'sidebar';
@import 'lists/schedule';
@import 'lists/simple_list';
@import 'lists/summary_tiles';
@import 'lists/group_class_list';
@import 'lists/exam_list';
@import 'vue_loader';
@import 'popper';
@import 'input';
@import 'button';
@import 'advanced_table';
@import 'modal';
@import 'fonts';

@media only print {
	.main-layout-sidebar {
		display: none;
	}

	.main-layout-content .main-layout-content-inner {
		padding-left: 0;
	}
}
