
html, body {
	padding: 0;
	margin: 0;

	color: #333;
	background-color: #fff;

	font-family: 'Montserrat', sans-serif;
	font-size: 1.06em;
}

* {
	box-sizing: border-box;
}

.container {
	width: 100%;
	max-width: 700px;
	margin: auto;

	padding: 10px;
}

.card-shadowed {
	box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
}

#editor {
	width: 100%;
	min-height: 300px;

	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;

	font-size: 15px;
}

.nav-container {
	background: #fafafa;

	border-top: 1px solid rgba(0, 0, 0, 0.12);
	border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

@import "spacing";