doctype html
html
    head
        meta(charset="utf-8")
        title Planex

        meta(name="theme-color" content="#2b579a")
        link(rel="icon" type="image/png" href="/public/icon/icon-256x256.png")

        link(rel="stylesheet" href="/public/vendor/bootstrap.min.css")
        link(rel="stylesheet" href="/public/vendor/fontawesome/css/all.min.css")
        link(rel="stylesheet" href="/public/vendor/vue-multiselect.min.css")
        link(rel="stylesheet" href="/public/dist/main.css")
    
    body
        #app

        script(src="/public/dist/main.js")
