doctype html
html
    head
        meta(charset="utf-8")
        title Planex

        link(rel="stylesheet" href="/static/vendor/bootstrap.min.css")
        link(rel="stylesheet" href="/static/dist/main.css")
    
    body
        #app

        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700&subset=latin-ext")

        script(src="/static/dist/main.js")