doctype html
html
    head
        meta(charset="utf-8")
        title Planex

        link(rel="stylesheet" href="/public/vendor/bootstrap.min.css")
        link(rel="stylesheet" href="/public/dist/main.css")
    
    body
        #app

        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700&subset=latin-ext")

        script(src="/public/dist/main.js")