doctype html
html
    head
        meta(charset="utf-8")
        title Planex

        link(rel="stylesheet" href="/static/vendor/bootstrap.min.css")
        link(rel="stylesheet" href="/static/dist/main.css")
    
    body
        block body

        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:700|Montserrat:400,500")

        block scripts